{% extends 'base.html.twig' %}

{% block title %}Charming Bogota{% endblock %}
{% block body %}
    <ul>
        <li><a href="{{ url('app_homepage') }}"><img src="{{ asset('images/logocharming.svg') }}" /></a></li>
        <li><a href="#">Desayunos</a></li>
        <li><a href="#">Cenas</a></li>
        <li><a href="#">Entregas</a></li>
        <li><a href="#">Contáctenos</a></li>
    </ul>
{% endblock %}

